*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand' sans-serif;
}
.box-formulir{
  width: 50%;
  margin: 100px auto;
  border: 1px solid;
}
.box{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 0 25px;
}
.table-form{
  width: 100%;

}
.table-form tr td:nth-child(1){
  width: 30%;
}
.input-control{
  padding: 5px 10x;
  font-size: 16x;
  margin: 5px 0;
}
.btn-daftar{
  padding: 12x 17x;
  background-color: #4A99D7;
  color: #fff;
  border: none;
  font-size: 16px;
}
.btn-daftar:hover{
  cursor: pointer;
}